.section{
    box-sizing: border-box;
    padding: 0;
    height: 100vh;
    margin: -15% 4% -30% 3%;
    position: relative;
    width: 97%;

}
.section h1{
    color: white;
    font-size: 1.4vw;
    position: absolute;
    top: -5%;
}

.section .grid{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    overflow-y: hidden;
   overflow-x: scroll;
}
.section .grid::-webkit-scrollbar {
    display: none;
  }
.section .grid .grid_item{
    margin-right: 7px;
    background-color: red;
    position: relative;
    max-width: 250px;
    transition: all .2s ease-in-out;
    /* animation: fade 1s ease-in-out infinite; */
}
.section .grid .grid_item img{
    object-fit: contain;
    max-width: 250px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.section .grid .grid_item img:hover{
    transform: scale(1.1);
    opacity: 0.9;
}
.section .grid .grid_item:hover{
    background-color: transparent;
}

@keyframes fade{
    0%{
        opacity: 0;
    }
    20%{
        opacity: .2;
    }
    30%{
        opacity: .3;
    }
    40%{
        opacity: .4;
    }
    50%{
        opacity: .5;
    }
    60%{
        opacity: .6;
    }
    70%{
        opacity: .7;
    }
    
    100%{
        opacity: 0;
    }
}
    