.section{
    box-sizing: border-box;
    padding: 0;
    height: 100vh;
    margin: -15% 4% -30% 3%;
    position: relative;
    width: 97%;

}
.section h1{
    color: white;
    font-size: 1.4vw;
    position: absolute;
    top: -5%;
}

.section .grid{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    overflow-y: hidden;
   overflow-x: scroll;
}
.section .grid::-webkit-scrollbar {
    display: none;
  }
.section .grid .grid_item{
    margin-right: 7px;
    background-color: red;
    position: relative;
    max-width: 250px;
    transition: all .2s ease-in-out;
    /* animation: fade 1s ease-in-out infinite; */
}
.section .grid .grid_item img{
    object-fit: contain;
    max-width: 250px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.section .grid .grid_item img:hover{
    transform: scale(1.1);
    opacity: 0.7;
}

.section .grid .grid_item:hover{
    background-color: transparent;
}
.section .grid .grid_item .grid_content{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.section .grid .grid_item .grid_content h2{
    color: white;
    font-size: 1.6vw;
    margin-left: 0.5vw;
    margin-top: 0.5vw;
    margin-right: 0.5vw;
    
}
.active{
    display: block;
}
.section .grid .grid_item .grid_content p{
    color: white;
    font-size: 0.8em;
    margin-left: 0.5vw;
    margin-top: 0.1vw;
    margin-right: 0.5vw;
}
.section .grid .grid_item .grid_content span{
    margin-top: 0.7vw;
    font-size: 0.8em;
    color: white;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}
.section .grid .grid_item .grid_content .additional_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
@keyframes fade{
    0%{
        opacity: 0;
    }
    20%{
        opacity: .2;
    }
    30%{
        opacity: .3;
    }
    40%{
        opacity: .4;
    }
    50%{
        opacity: .5;
    }
    60%{
        opacity: .6;
    }
    70%{
        opacity: .7;
    }
    
    100%{
        opacity: 0;
    }
}

@media screen and (max-width: 869px)  {
    .section{
        padding: 0;
        width: 100vw!important;
        height: 100vh!important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .section h1{
        font-size: 5vw!important;
        position: relative!important;
        top: 1%;
    }
    .section .grid{
        position: relative;
        flex-direction: column!important;
        overflow: auto!important;  
        height: fit-content!important; 
    }
    .section .grid .grid_item{
        margin-bottom: 2vw;
    }
    .section .grid .grid_item .grid_content h2{
        font-size: 2vw!important;
    margin-left: 2vw!important;
    margin-top: 2vw!important;
    margin-right: 2vw!important;
    }
    .section .grid .grid_item .grid_content .additional_content{
        margin-top: 2vw!important;
        margin-left: 2vw!important;

    }
    .section .grid .grid_item .grid_content p{
        margin-left: 2vw!important;
        margin-top: 2vw!important;
        margin-right: 2vw!important;
    }
}